.authGroup {
	position: fixed;
	z-index: 29;
	background-color: #FBFBFB;
	top: 60px;
	left: 0;
	right: 0;
	height: calc(100% - 60px);
	overflow-y: auto;
	border-radius: 30px 30px 0 0;
	background-image: url("//cdn-data.betterplay.com/production/sites/uploads/photo/arrow.20200216164816.png");
	background-repeat: no-repeat;
	background-size: 130%;
	background-position: -118px 163px;
}

.closeBtnWrap {
	position: absolute;
	right: 20px;
	top: 20px;
}

.closeBtn {
	width: 20px;
	height: 20px;
	position: relative;

	&:after {
		content: '';
		height: 20px;
		border-left: 2px solid #545454;
		position: absolute;
		transform: rotate(45deg);
		left: 9px;
	}

	&:before {
		content: '';
		height: 20px;
		border-left: 2px solid #545454;
		position: absolute;
		transform: rotate(-45deg);
		left: 9px;
	}
}

.app {
	margin: 0 32px;

	.title {
		font-size: 1.25em;
		font-style: normal;
		font-weight: 600;
		line-height: 126%;
		margin: 56px 0 25px;
		color: #545454;
	}
}

.textInput {
	padding: 1.0625em;
	font-size: 1em;
	width: 100%;
	display: block;
	box-sizing: border-box;
	border-radius: 4px;
	border: 2px solid #545454;
	text-align: center;
	font-family:inherit;
	color: #545454;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;

	&:disabled {
		background-color: #fff;
		opacity: .6;
	}

	&.touched ~ .fieldLabel,
	&:focus ~ .fieldLabel {
		transform: scale(0.75) translateY(-7px) translateX(12px);
		left: 0;
		top: 0;
		color: #FF5000 !important;
		transform-origin: top left;
	}

	&:focus {
		border-color: #FF5000 !important;
	}
}

.fieldLabel {
	background: #fff;
	top: 50%;
	box-sizing: border-box;
	color: #aaabae;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	max-width: calc(100% - 16px);
	overflow: hidden;
	padding: 0 8px;
	text-overflow: ellipsis;
	transition: all .25s cubic-bezier(.4,0,.2,1);
	white-space: nowrap;
	z-index: 1;
	pointer-events: none;
	position: absolute;
	width: auto;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: top left;
}

.inputGroup {
	position: relative;
	margin-bottom: 14px;

	&.touched .fieldLabel {
		transform: scale(0.75) translateY(-7px) translateX(12px);
		left: 0;
		top: 0;
		transform-origin: top left;
	}

	&.error {
		.textInput {
			border-color: #FF004F;
		}

		.fieldLabel {
			color: #FF004F;
		}
	}
}

.inputGroupCheckBox {
	&.error {
		.checkboxLblText {
			color: #FF004F;
		}
	}
}



.checkboxLabel {
	display: block;
	position: relative;
	cursor: pointer;
	margin-bottom: 10px;
	transform-origin: 0;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		margin: 0;
		width: 22px;
		height: 22px;
		transform-origin: 0;
	}

	.checkboxCustom {
		position: absolute;
		top: 0;
		left: 0;
		height: 17px;
		width: 17px;
		background-color: transparent;
		border-radius: 2px;
		transition: all 0.3s ease-out;
		border: 2px solid #FF004F;
		transform-origin: 0;
	}

	input:checked ~ .checkboxCustom {
		background-color: #FF004F;
		transform: rotate(0deg) scale(1);
		opacity:1;
		border: 2px solid #FF004F;
	}

	.checkboxCustom::after {
		position: absolute;
		content: "";
		left: 5px;
		top: 0;
		height: 0;
		width: 0;
		border-radius: 5px;
		border: solid #fff;
		border-width: 0 3px 3px 0;
		transform: rotate(0deg) scale(0);
		opacity: 1;
		transition: all 0.3s ease-out;
	}

	input:checked ~ .checkboxCustom::after {
		transform: rotate(45deg) scale(1);
		opacity: 1;
		left: 6px;
		top: -4px;
		width: 6px;
		height: 12px;
		border: solid #fff;
		border-width: 0 2px 2px 0;
		background-color: transparent;
		border-radius: 0;
		transform-origin: 0;
	}

	.checkboxLblText {
		margin-left: 35px;
		font-weight: 500;
		font-size: 16px;
		line-height: 120%;
		color: #545454;

		a {
			color: #0062D6;
			text-decoration: none;
		}
	}
}

.submitWrap {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 29px;
}

.submitButton {
	padding: 0;
	border: none;
	width: 193px;
	height: 42px;
	background: linear-gradient(0deg, #FAA012 -23.81%, #F7C907 128.57%);
	border-radius: 4px;
	font-family: inherit;
	font-weight: 600;
	font-size: 1em;
	text-align: center;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #FFFFFF;

	&:focus {
		outline: none;
	}

	&:disabled,
	&[disabled]{
		background: #DBDBDB;
		color: #545454;
	}
}

.errorsBox {
	margin-top: 15px;
}

.errorsBoxItem {
	margin-bottom: 5px;
	font-style: normal;
	font-weight: 500;
	font-size: 0.875em;
	line-height: 120%;
	letter-spacing: 0.25px;
	color: #FF004F;
}

.changeView {
	font-weight: 500;
	font-size: 0.875em;
	line-height: 120%;
	text-align: center;
	letter-spacing: 0.25px;
	color: #0062D6;
	margin: 15px 0;
}

.ldsRing {
	display: inline-block;
	width: 80px;
	height: 80px;
	position: absolute;
	z-index: 2;
	background: rgba(0,0,0,0.5);
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -110%);
}
.ldsRing div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.ldsRing div:nth-child(1) {
	animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
	animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
	animation-delay: -0.15s;
}

.backHolder {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: #000000;
	opacity: 0.4;
	z-index: 28;
}

@keyframes ldsRing {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.signUp {}

.signIn {
	background-position: -118px 103px;
}

.forgot {
	background-position: -118px 23px;
}
